.display-none {
    display: none;
}

#location {
    background-color: rgba(0, 0, 0, 0.397);
    position: absolute;
    border-radius: 15px;
    transition: left 1s ease;
    width: 100%;
    left: -200%;
    float: right;
}

.serviceImg {
   width: 55%;
   padding-left: 0!important;
   margin-left: -11px;
   vertical-align: left;
}
#location p {
    color: #fff;
    text-align: center;
}
#location h6 {
    color: #fff;
    font-size: 1rem;
    font: bold;
    font-weight: 600;
    text-align: center;
    margin-top: 45%;
    transform: translateY(-50%);
}
